PORT=3000
HOSTNAME=0.0.0.0
NODE_ENV=production

DATABASE_URL="file:/app/data/dev.db"

API_FOOTBALL_KEY=""

ADMIN_PASSWORD="cambia-esta-clave"

ADMIN_SESSION_SECRET="genera-un-string-aleatorio-largo"

CRON_SECRET=""

NEXT_PUBLIC_APP_URL="http://localhost:3000"
